/* h1{
    color: cadetblue;
    font-style: italic;
    font-size: 3rem;
} */
/*  CSS Rule
    Selectors
    Declaration
    Property
    Value

 */
/* h2{
    color: green;
    font-size: 1 rem;
} */

/* 3:39:00 IN VIDEO

https://www.youtube.com/watch?v=mU6anWqZJcc
*/

/*******************************************************************************
Element Selectors
******************************************************************************/
/* p{
    color: red;
} */

/* body{
    color: red;
}

h1, h2{
    color: blue;
} */

/*******************************************************************************
ID Selectors
******************************************************************************/

/* #title-heading{
    color: blue;
    background: yellow;
}
#footer-heading{
    color: red;
    background: black;
} */

/*******************************************************************************
Class Selectors
******************************************************************************/
/* .green{
    color: green;
}
.red{
    color: red;
} */
/*******************************************************************************
Div and Span Selectors
******************************************************************************/
/* div{
    color: red;
    background: grey;
} */
/* span{
    text-transform: uppercase;
} */
/*******************************************************************************
Inheritance hell yeah
******************************************************************************/
/* p{
    color: blue;
}

p{
    color: red;
} */
/* 4:24:15 */
/*
#first{
    color: rgb(255,0,0);
    background: rgba(100,100,100, 0.5);
}
#second{
    color: rgb(255,255,0);
    background: rgba(100,220,12, 0.3);
}
#third{
    color: #00ff00;
    background: #4c0b15;
}
body{
    background: #ffffff;
} */
/* h1{
    font-size: 60px;
    width: 200px;
    height: 300px;
    background: aqua;
} */

/* relative properties and values */
/* .outer{
    width: 500px;
    height: 500px;
    background: aliceblue;
}
.inner{
    width: 100%;
    height: 50%;
    background: darkred;
} */
.relative{
    font-size: 2em;
}
.absolute{
    font-size: 32px;
}
.banner{
    width: 50vw;
    height: 50vh;
    background: aquamarine;
}

/* 5:19:00 in video */




















/*  */
